<center><h1>Assignment-01</h1></center>
<center><h3>Name: Md. Alahi Almin Tansen</h3></center>
<center><h3>ID: 190321028</h3></center>
<center><h3>Course Name: Industrial and Operational Management</h3></center>
<center><h3>Course Code: MGT-201</h3></center>
<center><h3>Program: B.Sc. in CSE (Regular)</h3></center>
<center><h3>Semester: 11th</h3></center>
<center><h3>Section: A</h3></center>
<center><h3>Submission Date: 30-05-2023</h3></center>

---

### Importing Pandas Library

In [1]:
import pandas as pd

### Creating the dataset

In [2]:
data = {
    'Month': ['May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
    'Demand': [100, 80, 110, 115, 105, 110, 125, 120],
    'Forecast': [100, None, None, None, None, None, None, None]
}
df = pd.DataFrame(data)

### Current Dataset

In [3]:
df

       Month  Demand  Forecast
0        May     100     100.0
1       June      80       NaN
2       July     110       NaN
3     August     115       NaN
4  September     105       NaN
5    October     110       NaN
6   November     125       NaN
7   December     120       NaN

### Creating New Dataframe for updating the dataset

In [4]:
df2 = df.copy()

### Calculation & updating the forecast column
**Formula:** *Current Forecast = Last period's forecast + α (Last period's actual demand - Last period's forecast) ; where α = 0.1*

In [5]:
alpha = 0.1
for i in range(1, len(df2)):
    last_forecast = df2['Forecast'].at[i - 1]
    last_demand = df2['Demand'].at[i - 1]
    df2['Forecast'].at[i] = last_forecast + alpha * (last_demand - last_forecast)

### Updated Dataset

In [6]:
df2

       Month  Demand   Forecast
0        May     100  100.00000
1       June      80  100.00000
2       July     110   98.00000
3     August     115   99.20000
4  September     105  100.78000
5    October     110  101.20200
6   November     125  102.08180
7   December     120  104.37362