<center><h1>Assignment-01</h1></center>
<center><h3>Name: Md. Alahi Almin Tansen</h3></center>
<center><h3>ID: 190321028</h3></center>
<center><h3>Course Name: Industrial and Operational Management</h3></center>
<center><h3>Course Code: MGT-201</h3></center>
<center><h3>Program: B.Sc. in CSE (Regular)</h3></center>
<center><h3>Section: A</h3></center>
<center><h3>Semester: 11th</h3></center>
<center><h3>Submission Date: 24-05-2023</h3></center>

### Importing necessary library

In [1]:
import pandas as pd

### Read the data from the CSV file

In [2]:
data = pd.read_csv('forecast-data.csv')

In [3]:
data

       Month  Demand  Forecast
0        May     100     100.0
1       June      80       NaN
2       July     110       NaN
3     August     115       NaN
4  September     105       NaN
5    October     110       NaN
6   November     125       NaN
7   December     120       NaN

### Update the forecast for each period using the formula
**Formula:** *Last period's forecast + α (Last period's actual demand - Last period's forecast) ; where α = 0.1*

In [4]:
for i in range(1, len(data)):
    previous_forecast = data.loc[i-1, 'Forecast']
    previous_demand = data.loc[i-1, 'Demand']
    current_forecast = previous_forecast + 0.1 * (previous_demand - previous_forecast)
    data.loc[i, 'Forecast'] = current_forecast

### Save the updated forecasts back to the CSV file

In [5]:
data.to_csv('forecast-data.csv', index=False)

### Updated forecasts

In [6]:
data

       Month  Demand   Forecast
0        May     100  100.00000
1       June      80  100.00000
2       July     110   98.00000
3     August     115   99.20000
4  September     105  100.78000
5    October     110  101.20200
6   November     125  102.08180
7   December     120  104.37362